EXPO_PUBLIC_API_URL="http://localhost:3000"
EXPO_PUBLIC_EXPO_PROJECT_ID=""
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY=""
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY=""
EXPO_PUBLIC_REVENUECAT_PRODUCT_ID="polyclaw_bot_monthly"
